# SQL Server config
DB_USER="hieu"
DB_PASSWORD="hieu"
DB_NAME="green-farm"
DB_SERVER="127.0.0.1"
DB_PORT=1433

# MQTT config
MQTT_BROKER="wss://mqtt.ohstem.vn:8084/mqtt"
MQTT_USERNAME="MinhTriDADN"
MQTT_PASSWORD=""
MQTT_FEED="MinhTriDADN/feeds"

# JWT Auth config
JWT_SECRET="f41632fe9d70a85cd9131975387818162c84972121b5d82fdb13fc16b86a6ef397425020b07cd997458f231aef64bcc429a14b27a6aae525ec54afb70219b3c1"