# SQL Server config
DB_USER="hieu"
DB_PASSWORD="hieu"
DB_NAME="green-farm"
DB_SERVER="127.0.0.1"
DB_PORT=1433

# MQTT config
MQTT_BROKER="wss://mqtt.ohstem.vn:8084/mqtt"
MQTT_USERNAME="MinhTriDADN"
MQTT_PASSWORD=""
MQTT_FEED="MinhTriDADN/feeds"